RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# RewriteCond %{HTTP:X-Forwarded-Proto} !=https
# RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]