:root {
    --magentish: rgb(161, 39, 161);
  }

* {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: lightgray;
    padding: 0;
    margin: 0;
    overflow: auto;
    outline: 0;
    border: 0;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
}

nav, h1, h2, h3, footer {
    text-align: center;
}

nav, footer {
    padding: 16px;
    z-index: 10;
}

p {
    text-align: justify;
}

nav > a, footer > button {
    text-decoration: none;
    padding: 8px;
    color: var(--magentish);
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#content {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    height: 100%;
}

.ok {
    color: gray;
}

.error {
    color: var(--magentish);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#stats {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
    width: 270px;
    z-index: 2;
    background-color: #242424;
}

.stat_wrap > span:nth-child(1){
    width: 150px;
    display: inline-block;
}

#article_list > a {
    display: block;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}